*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heading1 {
  margin: 1.875rem 0;

  @media screen and (max-width: 47.9375rem) {
    font-size: 6.25rem;
    line-height: 6.25rem;
    letter-spacing: -2.5px;
  }

  @media screen and (min-width: 48rem) {
    font-size: 10.9375rem;
    line-height: 10.9375rem;
    letter-spacing: -4.38px;
  }

  @media screen and (min-width: 85rem) {
    font-size: 12.5rem;
    line-height: 12.5rem;
    letter-spacing: -5px;
  }
}

.heading2 {
  @media screen and (max-width: 47.9375rem) {
    font-size: 1.25rem;
  }

  @media screen and (min-width: 48rem) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 85rem) {
    font-size: 3.5rem;
  }
}

.heading3 {
  text-transform: uppercase;

  @media screen and (max-width: 47.9375rem) {
    font-size: 0.9375rem;
    line-height: 1.75rem;
    letter-spacing: 3px;
  }

  @media screen and (min-width: 48rem) {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 3.6px;
  }

  @media screen and (min-width: 85rem) {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 4.8px;
  }
}

.heading4 {
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;

  span {
    display: none;

    @media screen and (min-width: 48rem) {
      display: block;
    }
  }

  @media screen and (max-width: 47.9375rem) {
    font-size: 0.9375rem;
    line-height: 1.75rem;
    letter-spacing: 3px;
  }

  @media screen and (min-width: 48rem) {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 3.6px;
  }

  @media screen and (min-width: 85rem) {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 4px;
  }
}

.heading5 {
  font-weight: 700;

  @media screen and (max-width: 47.9375rem) {
    font-size: 0.75rem;
    line-height: 1.375rem;
  }

  @media screen and (min-width: 48rem) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.heading6 {
  font-weight: 400;
  line-height: 1.75rem;
  text-transform: uppercase;

  @media screen and (max-width: 47.9375) {
    font-size: 0.625rem;
    letter-spacing: 2px;
  }

  @media screen and (min-width: 48rem) {
    font-size: 0.8125rem;
    letter-spacing: 2.6px;
  }

  @media screen and (min-width: 85rem) {
    font-size: 0.9375rem;
    letter-spacing: 3px;
  }
}

.text {
  margin-bottom: 1rem;
  font-weight: 400;

  @media screen and (max-width: 47.9375rem) {
    font-size: 0.75rem;
    line-height: 1.375rem;
  }

  @media screen and (min-width: 48rem) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.timezone {
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.75rem;
  margin-left: 1rem;

  @media screen and (max-width: 47.9375rem) {
    font-size: 0.9375rem;
  }

  @media screen and (min-width: 48rem) {
    font-size: 2rem;
  }

  @media screen and (min-width: 85rem) {
    font-size: 2.5rem;
  }
}